---
---

<!DOCTYPE html>
<html lang="es-419">
<head>
  <meta charset="UTF-8">
  <title>Reglamento - Club de Programación CUCEI</title>
  <link href="res/favicon.ico" rel="icon" type="image/x-icon">
  <meta http-equiv="refresh" content="0; url=https://reglamento.programacion-cucei.club/">
  <script type="text/javascript">
    window.location.href = "https://reglamento.programacion-cucei.club/"
  </script>
</head>

<body>
  Si no eres redirigidx automáticamente, haz clic <a href='https://reglamento.programacion-cucei.club/'>aquí</a>.
</body>
</html>